@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0C0C0C;
    color: #F2613F;
    font-family: "Josefin Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header {
    height: 120px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    height: 802px; /* extra 2px for border */
    width: 802px; 
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
}

button {
    background-color: aqua;
    width: 100px;
    height: 30px;
    color: black;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(73, 72, 72);
    color: aqua;
    cursor: pointer;
}