* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0C0C0C;
    color: #F2613F;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header {
    height: 100px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    height: 802px; /* extra 2px for border */
    width: 802px; 
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
}

button {
    background-color: aqua;
    width: 100px;
    height: 30px;
    color: black;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(73, 72, 72);
    color: aqua;
    cursor: pointer;
}